/*
!/.config/
!/.gitmodules
!/.bashrc
!/.bash_profile
!/.gitignore

/.config/*

!/.config/hypr/
!/.config/kitty/
!/.config/nvim/
!/.config/waybar/
!/.config/zathura/
!/.config/calcurse/

/.config/calcurse/*
!/.config/calcurse/keys
!/.config/calcurse/conf
