/*
!/.config/
!/.gitmodules
!/.zshrc
!/.zprofile
!/.gitignore

/.config/*

!/.config/hypr/
!/.config/kitty/
!/.config/nvim/
!/.config/waybar/
!/.config/zathura/
!/.config/calcurse/

/.config/calcurse/*
!/.config/calcurse/keys
!/.config/calcurse/conf
!/.config/calcurse/hooks/
/.config/calcurse/hooks/*
!/.config/calcurse/hooks/post-save
!/.config/calcurse/hooks/pre-load

!/.local/share/icons/
/.local/share/icons/*
!/.local/share/icons/theme_my_theme/
