/*
!/.config/
!/.gitmodules
!/.zshrc
!/.zprofile
!/.gitignore
!/.local/


/.config/*


!/.config/hypr/
!/.config/kitty/
!/.config/nvim/
!/.config/waybar/
!/.config/zathura/
!/.config/calcurse/
!/.config/shell/
!/.config/mpv/

/.config/calcurse/*
!/.config/calcurse/keys
!/.config/calcurse/conf
!/.config/calcurse/hooks/
/.config/calcurse/hooks/*
!/.config/calcurse/hooks/post-save
!/.config/calcurse/hooks/pre-load

/.local/*
!/.local/share/
/.local/share/*
!/.local/share/notification.mp3
!/.local/share/rick.mp3

!/.local/share/bin/

!/.local/share/icons/
/.local/share/icons/*
!/.local/share/icons/theme_my_theme/
